{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg1.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar1.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Karina Huerta Mota</h2>   
        <p>Nací en el municipio de Toluca, actualmente estudio en la Universidad Tecnologica del Valle de Toluca. </p>
        <p>Realice mis estadias en la empresa ABA SA DE CV, concluí mi TSU.Infraestructura de Redes Digitales,y ahora estoy enfocada en terminar mi carrera de ING.Redes Inteligentes y Ciberseguridad. </p>
    </div>
</div>
{% endblock %}
