{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg1.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Estudiante</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Tengo conocimiento en
            programación en
            lenguajes como Java y
            HTML, además he
            aprendido sobre
            configuración y
            administración de redes
            digitales. Busco aplicar
            mis conocimientos
            aprendidos durante este
            periodo de preparación y
            cumplir con los objetivos
            de la empresa.
            . </p>
        <p></p>
            
        <br>
        <p><b>Teléfono:</b> +52 7222887901</p>
        <p><b>Correo:</b> al222210765@gmail.com</p>
    </div>
</div>
{% endblock %}

